/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  flex: 1;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #444;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #555;
}

.card p {
  font-size: 1rem;
  color: #666;
}

/* Estilo do botão de fechar */
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
  color: #555;
  font-size: 24px;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #000;
}

/* Estilo do Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #f4f4f4;
}